---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const services = await getCollection("services");
  const paths = services.map((service) => ({
    params: { slug: service.data.slug },
  }));
  return paths;
}

const { slug } = Astro.params;

const services = await getCollection("services");

const entry = services.find((e) => e.data?.slug === slug);

if (!entry) {
  throw new Error(`Service not found: ${slug}`);
}
---

<MainLayout>
  <section class="max-w-4xl mx-auto my-20 px-6">
    <a href="/" class="text-sm underline text-primary/80">← Back to home</a>

    <h1 class="title mt-6">{entry?.data.title}</h1>
    <img
      src={entry?.data.image}
      alt={entry?.data.title}
      class="w-full rounded-lg my-6 object-cover"
    />
  </section>
</MainLayout>
