* {
  /* Reset CSS */
  @apply box-border m-0 p-0;
}

body {
  @apply relative min-h-screen w-screen max-w-screen overflow-x-hidden overflow-y-auto bg-gradient-to-br from-background-base to-background-dark text-text-default font-sans;
}

strong {
  @apply text-primary;
}
