---
import Hero from "@/_components/hero.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const featuredCustomers = [
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
  {
    name: "Fascino",
    logo: "/clients/fascinobd.svg",
  },
  {
    name: "PND Service",
    logo: "/clients/pndservicebd.svg",
  },
];
---

<MainLayout>
  <!-- Hero Section -->
  <Hero>
    <!-- <video
      autoplay
      muted
      loop
      controls={false}
      class="absolute top-1/2 -translate-y-1/2 mix-blend-lighten w-full object-cover"
    >
      <source src="/screen.mp4" type="video/mp4" />
    </video> -->
    <div
      class="absolute bottom-2 left-2 md:bottom-5 md:left-5 xl:bottom-10 xl:left-10"
    >
      <h1
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold mb-2 md:mb-4 uppercase"
      >
        Unlock Your <br />
        Brand's <strong>Potential</strong>
        <br />
        with Our <strong>Unique Approach</strong>.
      </h1>
      <p class="text-base md:text-lg xl:text-xl md:font-bold text-muted">
        Defined Solution Limited is a 360 agency. Helping businesses develop
        experiences and empower growth.
      </p>
    </div>
  </Hero>
  <!-- Featured Customers Section -->
  <section class="p-4 px-16 flex flex-row items-center justify-between gap-10">
    <h2 class="text-lg font-bold min-w-fit">
      <strong class="text-5xl">50+</strong>
      <br />
      <span class="uppercase">Happy Customers World-wide</span>
    </h2>
    <div class="flex flex-row gap-4">
      {
        featuredCustomers.map((customer) => (
          <div class="h-24">
            <img
              src={customer.logo}
              alt={customer.name}
              class="h-full object-contain saturate-0 hover:saturate-100 transition-all"
            />
          </div>
        ))
      }
    </div>
  </section>

  <div class="h-[70vh]"></div>
</MainLayout>
