---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-4xl font-bold text-center my-8">
    UNLOCK YOUR <span class="text-primary">POTENTIAL</span> WITH DEFINED SOLUTIONS
    LTD
  </h1>
  <p class="text-center">Your trusted partner for innovative solutions.</p>

  <div class="border-border border rounded-lg m-2 bg-card">
    <p class="p-4">
      We provide a wide range of services to help you achieve your goals.
    </p>
  </div>
</MainLayout>
