---
import "@/styles/global.css";

// Components
import Footer from "@/_components/footer.astro";
import Rays from "@/_components/rays.astro";

const {
  title = "Defined Solution Limited",
  description = "Defined Solution Limited is a software development company specializing in web and mobile applications.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <!-- Background Section -->
    <section
      class="fixed top-0 left-0 w-full h-screen -z-30 default-background"
    >
    </section>
    <!-- Smooth Scroll Wrapper -->
    <div id="smooth-scroll-content" class="min-h-screen">
      <slot />
      <Footer />
    </div>
    <!-- Rays -->
    <Rays />
  </body>
</html>

<script>
  // GSAP Plugins
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // ScrollSmoother requires ScrollTrigger
  import { ScrollSmoother } from "gsap/ScrollSmoother";

  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  document.addEventListener("DOMContentLoaded", () => {
    // creates the scrollSmoother
    ScrollSmoother.create({
      content: "#smooth-scroll-content",
      smooth: 3,
      effects: true,
      normalizeScroll: true,
    });
  });
</script>
