<header
  class="flex flex-row justify-between items-center py-8 px-4 sm:px-8 lg:px-10 pr-10"
>
  <a href="/" class="logo">
    <img src="/logo.svg" class="h-12 w-12" alt="Defined Solution Ltd Logo" />
  </a>
  <div>
    <!-- <button class="font-bold text-lg cursor-pointer">ME-NU</button> -->
  </div>
</header>
