<header class="flex flex-row justify-between items-center py-8 px-10">
  <a href="/" class="logo">
    <img src="/logo.svg" class="h-9 w-9" alt="Defined Solution Ltd Logo" />
  </a>
  <div>
    <button class="font-bold text-lg cursor-pointer">ME-NU</button>
  </div>
</header>
