---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const services = await getCollection("services");
---

{
  !!services?.length ? (
    <section class="flex flex-col m-2 mt-20">
    <div
      class="flex flex-col md:flex-row items-start gap-8 justify-between px-10"
    >
      <h2 class="uppercase font-bold title">
        Our <strong>Exclusive</strong><br />
        Digital <strong>Services</strong>
      </h2>
      <div class="max-w-4xl space-y-8">
        <p class="subtitle">
          Whether it's crafting a visually stunning brand identity, designing
          immersive digital experiences, or developing strategic enterprise
          software, we deliver it with passion.
        </p>
        <a href="#" class="subtitle underline text-primary underline-offset-4">
          <strong>Have any idea? Get a Quote</strong>
        </a>
      </div>
    </div>

    <!-- Service Cards -->
    <div class="grid grid-cols-1 mt-20 md:grid-cols-3 items-stretch gap-4">
      {
        services.map(({data:{title,slug, image}}) => (
          <a
            href={`/services/${slug}`}
            class="relative group overflow-hidden min-h-96 aspect-5/6 rounded-xl bg-card base-card hover:border-primary/90"
          >
            <img
              src={image}
              alt={slug}
              class="w-4/5 h-auto absolute object-cover scale-125 group-hover:scale-150 right-0 -bottom-10 opacity-70 transition-transform"
            />
            <div class="p-0 md:p-6 flex-grow flex flex-row items-start justify-between">
              <h3 class="font-bold leading-none whitespace-pre-wrap title uppercase ">
                {title}
              </h3>
              <button class="text-primary text-4xl scale-0 group-hover:scale-100 transition-transform bg-primary/10 rounded-full duration-300 !aspect-square p-3">
                <Icon name={"lucide:arrow-up-right"} />
              </button>
            </div>
          </a>
        ))
      }
    </div>
    <div></div>
  </section>

  ) : (
    <div class="h-10 text-9xl mx-auto text-center text-red-700" >SERVICES.MD NOT FOUND </div>
  )
}
